<section class="section">
  <div class="containerHome" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="top center">
    <div class="box" fxLayoutAlign="center center" fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5%" class="mat-display-1 treinadorName">
        <label>Mercado</label>
      </div>
    </div>  
  </div>
  <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="top center" style="background-color: white;">
    <form [formGroup]="buscaForm">
      <div fxLayoutAlign="right" fxLayout="column" style="padding-top: 10px; padding-bottom: 10px;">
        <mat-form-field appearance="outline" style="color: black">
          <mat-label>Buscar Jogador</mat-label>
          <input matInput placeholder="Primeira Letra Maiúscula" formControlName="busca">
          <mat-hint align="start"><strong>Digite pelo menos 5 letras</strong> </mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!buscaForm.valid" (click)="buscaPlayer(buscaForm)">Pesquisar</button>
      </div>
    </form>
  </div>
  <div class="containerTable" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%">
    <table mat-table [dataSource]="players" class="mat-elevation-z8 mercadoList">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Foto Column -->
      <ng-container class="ngContainer" matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Foto </th>
        <td mat-cell *matCellDef="let element"><img class="mercadoPlayerFoto" src="{{element.last_name}}"></td>
      </ng-container>
    
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.common_name}} </td>
      </ng-container>
    
      <!-- Posição Column -->
      <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posição </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- valor Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.fut_wiz_id}} </td>
      </ng-container>
    
      <!-- Comprar Column -->
      <ng-container matColumnDef="comprar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comprar </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button color="primary" [disabled]="element.total_stats != null || element.traits.includes(treinador[0].id)" (click)="goToDetalhes(element.id)">
          <mat-icon>gavel</mat-icon>
        </button></td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>